.input:focus {
  outline: none;
  border: #48908d solid 2px;
}

.input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  border-radius: 25px;
}

.error {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  color: #dc2e2e;
}

input[type='text']
{
  background: blue;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}